[[source]]
verify_ssl = true
url = "https://pypi.python.org/simple"
name = "pypi"

[packages]
"discord.py" = "*"
flask = "*"
requests-oauthlib = "*"
pylint = "*"
pyinotify = "*"
mwclient = "*"

[dev-packages]
